/*
*  Custom CSS
*/

/**Font Import**/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&family=Quicksand:wght@500&family=Righteous&display=swap');

body{
	display: flex;
	flex-direction: column;
	font-family: 'Quicksand', sans-serif;
	background-color: #98DFAF ;
	align-content: center;
}
.main-title{
	text-align: center;
	vertical-align: middle;
	height: 90px;

}
h1{
	color: #414288;
	font-size: 50px;
}
.image-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #ffff;
	border-radius: 8px;
	margin: 15px;
	padding: 1%;
}
.rowTitle{
	font-size: 40px;
	color: #682D63;
	font-style: italic;
	font-weight: bolder;
}
.mainContent{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2%;
	background-color: #DEEFB7 ;
	margin: 15px;
	border: solid;
	border-color: #414288;
	border-radius: 8px;
	font-size: 30px;
	
}

img{
	height: 150px;
}
.button-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2%;
}
button{
	height: 60px;
	width: 130px;
	font-size: 25px;
	background-color: #8d618a;
	border-style:outset;
	border-radius: 8px;
	
}
.instructions{
	display: flex;
	flex-direction: column;
	color: #414288;
	text-align: center;
	padding: 2%;
	
}
